#place-widget-listtopbanner {
  display: none;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  position: relative;
  margin: 0 8px 8px 8px;
}
#place-widget-listtopbanner .bg {
  background: #e3e6ed;
}
#place-widget-listtopbanner .banner {
  width: auto;
  height: 55px;
  display: block;
  margin: 0 auto;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  -ms-background-size: contain;
  -o-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
