.hotelorder-fail {
  position: relative;
}
.hotelorder-fail .fail-img {
  background: url(/static/place/images/book_fail_notice_8bbb738.png) 0 0 no-repeat;
  background-size: 87px 62px;
  width: 87px;
  height: 62px;
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
}
.hotelorder-fail .fail-message {
  text-align: center;
  width: 100%;
  padding-top: 106px;
  line-height: 22px;
}
