.widget-index-curloc {
  height: 24px;
  padding: 18px 0 0 14px;
  font-size: 14px;
  position: relative;
}
.widget-index-curloc p {
  color: #585d62;
}
.widget-index-curloc p span {
  color: #b70b00;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
