<div id="filter-box">
	<div class="handler">
		<button id="filter-cancel">取消</button>
		<button id="filter-finish">完成</button>
	</div>
	<!-- 日历的容器 -->
	<div id="date-content"></div>
	<!-- 筛选方案的容器 -->
	<div id="strategy-content"></div>
</div>