<div class="captain">代叫车订单：<span class="count"><#=info.length#></span></div>
<ul class="list">
    <#for(var i = 0, len = info.length; i < len; i++) {#>
        <li class="list-item">
            <#if(info[i].status > 1) {#>
                <div class="driver-info">
                    <span class="name"><#=info[i].driver_name#></span>
                    <span class="carno"><#=info[i].taxi_no#></span>
                    <div class="reply-time">
                        <#
                            var date = new Date(info[i].reply_time * 1000),
                                month = date.getMonth() + 1,
                                day = date.getDate(),
                                hours = date.getHours(),
                                minutes = date.getMinutes(),
                                seconds = date.getSeconds(),
                                doubleReg = /\d{2}/,
                                formatTime;

                            month = doubleReg.test(month) ? month : '0' + month;
                            day = doubleReg.test(day) ? day : '0' + day;
                            minutes = doubleReg.test(minutes) ? minutes : '0' + minutes;
                            seconds = doubleReg.test(seconds) ? seconds : '0' + seconds;

                            formatTime = date.getFullYear() + '-'
                                + month + '-' + day
                                + ' ' + hours + ':' + minutes + ':' + seconds
                        #>
                        <#=formatTime#>
                    </div>
                </div>
                <div class="status">
                    已接单
                </div>
                <div class="phone-bar">
                    <a class="client-phone" href="tel:<#=info[i].phone#>">
                        <#if(info[i].phone === info[i].third_phone) {#>
                            <span class="title">本人：</span>
                        <#} else {#>
                            <span class="title">客人：</span>
                        <#}#>
                        <span class="phone"><#=info[i].phone#></span>
                    </a>
                    <a class="driver-phone" href="tel:<#=info[i].phone#>">
                        <span class="title">司机：</span>
                        <span class="phone"><#=info[i].driver_phone#></span>
                    </a>
                </div>
            <#} else {#>
                <a class="client-phone" href="tel:<#=info[i].phone#>">
                    <#if(info[i].phone === info[i].third_phone) {#>
                        <span class="title">本人：</span>
                    <#} else {#>
                        <span class="title">客人：</span>
                    <#}#>
                    <span class="phone"><#=info[i].phone#></span>
                </a>
                <#if(info[i].status === 1){#>
                    <#if(info[i].can_retry === 1) {#>
                        <button class="btn-retry" data-order-id="<#=info[i].order_id#>">重发</button>
                    <#} else {#>
                        <div class="status">
                            推送中
                        </div>
                    <#}#>
                <#} else {#>
                    <div class="status">
                        已过期
                    </div>
                <#}#>
            <#}#>
        </li>
    <#}#>
</ul>