/* 结果列表页 result list */
 .place-widget-placelist{
    color:#3b3b3b;
    font-size:1em;
    background-color:#F2F2F2;
    border-top:1px solid #ddd;
}
.place-widget-placelist{
    
    .mkr-icon{
        position: absolute;
        top: 10px;
        left: 15px;
    }

     h4,  p{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    li{
        white-space:nowrap;
        min-height:45px;
        padding:0 49px 11px 45px;
        border-bottom:1px solid #ddd;
        background-color:#f9f9f9;
        position:relative;
    }
    li.active{
        background-color: #f4f4f4;
    }
    h4{
        padding-top:9px;
        font-size:15px;
        color:#3b3b3b;
    }
     li .opt-icon{
        position: absolute;
        height: 1.32em;
        right: 24px;
        top: 54%;
        margin-top: -0.714em;
        padding-right: 1.43em;
        text-align: right;
    }
    li .dis{
        position:absolute;
        height:1.32em;
        right:25px;
        top:22px;
        margin-top:-0.714em;
        padding-right:8px;
        text-align:right;
        font-size:14px;
        color:#3b3b3b;
    }
    li .addr {
        margin-top:2px;
    }
    li .star {
        margin-top:5px;
    }
    li .price {
        margin-top:3px;
    }
     
    li p,  li h4{
        text-overflow : ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
    li p .sm{
        display:inline-block; 
        width:108px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
     li p .sm2{
        margin-left:0px;
    }

    .acc-list .acc-item{
        display: none;
    }

    .rl_go_dtl{
        position: absolute;
        background:url(/static/images/areo.png) no-repeat 0 0;
        background-size:7px 12px;
        height:11px;
        width:7px;
        top:2px;
        right: 0;
    }
    .rl_t_icon{
        height:31px;
        width:25px;
        position:absolute;
        top:10px;
        left:15px;
    }

    /* poi结果页 */
    .list-wrapper{
        border-top:none;
    }
    .list-wrapper li{
    }
    .list-wrapper li p.padd{
        color:#4c4c4c;
    }
    .list-wrapper li p {
        white-space:nowrap;
        color:#5e5e5e;
        font-size:12px;

        .scope-price {
            color:#f43f00; 
            margin-right: 10px;
            font-weight: bold;
        }
    }
    .rl_li_title{
        font-weight:normal;
        font-size: 1.07em;
        max-width:80%;
        display:inline-block;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .rl_t_btn{
        height:2.07em;
        line-height:2.07em;
        color: #0072FF;
        max-width: 10em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight:bold;    
        -webkit-box-shadow:2px 2px 8px #d1d1d1;
        vertical-align:middle;
        line-height:2em;
    }
    em.rl_t_btn:last-child{
        max-width:5.4em;
    }


    .place-list{
        border-bottom: 1px solid #fff;
    }
    .place-list strong.rl_li_title{
        max-width:70%;
        display:inline-block;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .place-list h4{
        font-weight:normal;
    }

    .list-wrapper  .rl_opt{
        height:2em;
        margin-top:-1em;
        line-height:2.286em;
        padding-right:2.5em;
        right:0.5em;
    }

    /* 筛选条件容器 */
    .rl_bl_rule{
        padding:8px 2px 10px;
        background-color:#F2F2F2;
        text-align:center;
        line-height:0;
    }
    .rl_bl_rule .select_box{
        margin:0 1.5%;
    }

    .rl_bl_rule .sc_pos{
        margin-bottom: 4px;
        position: relative;
    }

    .rl_title_icon{
    	display:inline-block;
    	width:20px;
    	height:20px;
    	vertical-align:middle; 
    	background:url(/static/images/setmyplace_icon.png) no-repeat 0 -39px; 
    	background-size:76px 59px;
	}
    .rl_select_poi .rl_t_spoi {
    	background-position:1px -18px;
    }

    /* 二级列表页 */
    li .rl_opt_btn{
        height:11px;
        width:16px;
        background:url(/static/images/setmyplace_icon.png) -85px 0 no-repeat;
        -webkit-background-size: 76px 59px;
    }
    li em.rl_opt_close{
        top: 4px;
        right: -4px;
        background-position:-42px 0;
    }
    li .rl_opt_open{
        background-position:-58px 0;
        top: 4px;
        right: -4px;
    }
    li.rl_sub_list{
        height:auto;
        padding: 0;
        overflow: hidden;
    }

    /* 星级评分 */
    .star_box{
        display:inline-block;
        height: 15px;
        width:75px;
        background:url(/static/images/star.png) repeat-x 0 0;
        background-size:15px 33px;
        font-size:14px;
        vertical-align:middle;
    }
    .star_box .star_scroe{
        display:inline-block;
        height: 15px;
        background:url(/static/images/star.png) repeat-x 0 -19px;
        background-size: 15px 33px;
    }

    /* 电话样式 */
    .mod_tel{
        margin: 8px 0 0;
        overflow:hidden;
    }
    .mod_tel .mod_tel_content{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 48%;
        color: #347e16;
        text-align:center;
        background:-webkit-gradient(linear, 0 100%, 0 0, from(#F1F1F1), to(#F7F7F7));
    }
    .tel_num_ios{
        display:inline-block;
        width:100%;
        text-decoration: none;
        color:#4471DC;
        font-size:1.143em;
    }
    .mod_tel .tel_icon_b{
        display:inline-block;
        height:16px;
        width:16px;
        background: url(/static/images/tel_icon2.png) 0 0 no-repeat;
        background-size:16px 16px;
    }

     div.mod_tel_content {
        display:inline-block;
        height:25px;
        line-height: 25px;
        border:#D5D5D5 solid 1px;
        border-radius:0.25em;
        text-align:center;   
        overflow:hidden;
        width:48%;
        min-width:110px;
        word-wrap: normal;
        background:-webkit-gradient(linear, 0 100%, 0 0, from(#F1F1F1), to(#F7F7F7));
    }
    div.mod_tel_content a{
        color: #347e16;
        padding:0;
        font-size:13px;
    }
    .pad  div.mod_tel_content {
        width: 500px;
    }
    .mod_tel .tel_num{
        border-radius:0.25em;
        color:#347e16;
        font-size:16px;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mod_tel .tel_num_white{
        background-color: #fff;
        max-height: 5.714em;
        min-height:2.786em;
        padding-left:0.714em;
    }
    .mod_tel .tel_num li{
        display: inline-block;
        /*min-height:2.571em;*/
        padding:0 0.5em 0 0.214em;
        line-height:2.571em;
    }
    .mod_tel .tel_num li a{
        font-size:16px;
        color: #518D3B;
        text-decoration: none;
    }
    .mod_tel .btn-getline {
        display:inline-block;
        /*margin-right:5px;*/
        width:51px;
        height:25px;
        line-height:25px;
        /*padding:7px 0;*/
        text-align:center;
        border:1px solid #d5d5d5;
        border-radius:0.25em;
        font-size:13px;
        background:-webkit-gradient(linear, 0 100%, 0 0, from(#F1F1F1), to(#F7F7F7));
        color:#333333;
    }

    /* --- added by luke wang --- */
    .btn-book {
        display:inline-block;
        line-height:25px;
        min-width: 50px;
        text-align:center;
        border:1px solid #d5d5d5;
        border-radius:0.25em;
        font-size:13px;
        padding:0 5px;
        box-sizing: border-box;
        
        background:-moz-linear-gradient(#f1f1f1,#F2F2F2);
        background:-webkit-linear-gradient(#f1f1f1,#F2F2F2);
        background:-o-linear-gradient(#f1f1f1,#F2F2F2);
        background:-ms-linear-gradient(#f1f1f1,#F2F2F2);
        background:linear-gradient(#f1f1f1,#F2F2F2);
        
        /* background-color:#f9fafb; */

        color:#333333;
        position: absolute;
        right: 24px;
        bottom: 11px;
    }

    .premium_new{
        background:url('/static/images/list_sale_icon.png') 0 0 no-repeat;
    }
    /*      start  搜索结果页ICON         */
     h4 em.place_ticket_icon,
     h4 em.place_groupon_icon,
     h4 em.place_seat_icon,
    .premium_new{
        background-size: 16px 16px; 
        width: 16px;
        height: 16px;
        margin-left: 2px;
        vertical-align: -2px;
    }
     h4 em.place_groupon_icon{
         width:16px;
         height:16px;
         background:url(/static/images/tuan_icon.png) 0 0 no-repeat;
         background-size:16px 16px;
         margin-left:1px;
    }
    h4 em.place_seat_icon{
        background:url(/static/images/list_seat_icon.png) 0 0 no-repeat;
        background-size:16px 16px;
        width: 16px;
        height: 16px;
    }
    /*强展现样式*/
    .showall-txt {
        height:40px;
        line-height:40px;
        padding-top:10;
        text-align:center;
        font-size:1.07em;
    }
    .showall_icon {
        display:inline-block;
        width:13px;
        height:10px;
        margin-left:3px;
        background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUCAMAAABPqWaPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6 eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEz NDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNl SUQ9InhtcC5paWQ6N0I1NjAyRDU2NUZBMTFFMjlENzVDNDNEQUFGMzlDRjciIHhtcE1NOkRvY3Vt ZW50SUQ9InhtcC5kaWQ6N0I1NjAyRDY2NUZBMTFFMjlENzVDNDNEQUFGMzlDRjciPiA8eG1wTU06 RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3QjU2MDJEMzY1RkExMUUyOUQ3 NUM0M0RBQUYzOUNGNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3QjU2MDJENDY1RkExMUUy OUQ3NUM0M0RBQUYzOUNGNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmLHh3gAAADJUExUReDg4OXl5aSkpJqamvPz8/Hx8ba2 tuLi4pubm5iYmJaWlrGxsYmJibOzs/T09N/f38zMzO/v7/Dw8IqKit3d3YuLi6mpqa+vr8vLy8fH x66uru3t7Z+fn6ysrKKiotra2tvb29XV1cTExKenp46OjsHBwfLy8srKyqqqqqampo+Pj7KystTU 1NHR0bm5uZKSkp2dnenp6dnZ2c3Nze7u7sXFxdPT09DQ0NbW1p6ensPDw+jo6JWVlYKCgoSEhPj4 +Pb29oODg/f39zhq1WAAAAEOSURBVHjaXFGHdoQwDAsc+/bsXdd1771XnNj//1G1nea1NDwCSNiW IkPk6f9yApkWwpdsXihD/uQx0orwuj6YCOMuwZ4Pfyi5XxoLm8pUiAjpULsRPVRo0R46mbO0IB/v +1xidvkV8CvxModMzVWM1M8LfgBikUdtbnkrHP/MMN6VjlSbNKfB6gjDmo9UidcalZodT4Xo59G4 8eS2PtX1+KbXkbHkywGptr0e7JTq5kmdritscu12Jl3SmQ8TTYpg4VVPp2AzzG1fcVWyYHUAaFR1 VlwEzZ1RV/xY7JxGP9nHVJwIyHvzFtoGieM+YDiI+SoOjMklG8JBd8LpELWTY66e/UbcyvT+b/Df AgwAZ+9tuVz1ufUAAAAASUVORK5CYII=") 0 0 no-repeat; 
        background-size: 13px 10px;
    }

    .gas_station{
        width:16px;
        height:16px;
        background:url('/static/images/gas_icon.png') 0 0 no-repeat;
        background-size:16px 16px;
        margin-left:1px;
    }

    .pagenav{
        padding:12px;
        text-align: center;
        background-color:#f2f2f2;
    }

    .pagenav .page-btn{
        display: inline-block;
        height:27px;
        line-height: 27px;
        padding:0 11px;
        border: 1px solid #CACACA;
        margin: 0 6px;
        color: #000;
        font-size:13px;
        background-color:#fff;
    }

    .pagenav .unclick{
        color: #CCC;
        border: 1px solid #CACACA;
    }
    .poi-list-onsales{
        margin-top: 7px;
        white-space: nowrap;
        color: #5e5e5e;
        width: 100%;
        max-width: 243px;
        height: 20px;
        background: #f8f8e8;
        border: solid 1px #e8e18e;
        border-radius: .25em;
        line-height: 20px;
        text-indent: .5em;
    }
    .poi-list-onsales span {
        color: #f43f00;
    }
    .place_streetscape_icon{
        background:url('/static/images/place_streetscape_icon.png') 0 0 no-repeat; 
        background-size: 15px 20px;
        width: 15px;
        height: 20px;
        position: relative;
        top: 3px;
        margin-left:6px;
    }
}