.common-widget-popup {
    position: fixed;
	max-width: 196px;
    display: block;
    padding: 11px 27px;
    background-color: #FFFFFF;
    border-radius: 2px;
    color: #000000;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    z-index: 999;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
}