<#if(data && data.length > 0){#>
    <div class="hd">
        <button jsaction="bank-all" userdata="{'wd':'<#:=wd#>','id':'<#:=id#>'}">查看全部</button>
        <h2>银行</h2>
    </div>
    <ul class="list">
        <# for(var i = 0, l = data.length; i < l; i++){ #>
            <li jsaction="bank-all" userdata="{'wd':'<#:=data[i].name#>','id':'<#:=id#>'}">
                <span class="icon <#:=data[i].key#>"></span>
                <p><#:=data[i].name#></p>
            </li>
        <#}#>
    </ul>
<#}#>