<#if(data && data.length > 0){#>
    <div class="hd">
        <a href="javascript:void(0);" jsaction="cater-all" userdata="{'wd':'<#:=word#>','id':'<#:=id#>'}">
            查看全部
        </a>
        <h2>美食</h2>
    </div>
    <ul class="list">
        <# for(var i = 0, l = data.length; i < 3; i++){ #>
            <li jsaction="cater-detail" userdata="{'uid':'<#:=data[i].uid#>','id':'<#:=id#>'}">
                <a class="a-img" href="javascript:void(0);">
                    <img width="89" height="66" src="<#:=data[i].image#>">
                    <#:=data[i].otherflag#>
                </a>
                <dl>
                    <dt class="name"><#:=data[i].name#></dt>
                    <dd class="rate"><#:=data[i].star#></dd>
                    <dd class="cmt">
                        <span class="count"><#:=data[i].comment#></span>
                        <span class="tail">条评论</span>
                    </dd>
                </dl>
            </li>
        <#}#>
    </ul>
    <#if(page=="hao123"){#>
        <ul class="list">
            <# for(var i = 3, l = data.length; i < 6; i++){ #>
                <li jsaction="cater-detail" userdata="{'uid':'<#:=data[i].uid#>','id':'<#:=id#>'}">
                    <a class="a-img" href="javascript:void(0);">
                        <img width="89" height="66" src="<#:=data[i].image#>">
                        <#:=data[i].otherflag#>
                    </a>
                    <dl>
                        <dt class="name"><#:=data[i].name#></dt>
                        <dd class="rate"><#:=data[i].star#></dd>
                        <dd class="cmt">
                            <span class="count"><#:=data[i].comment#></span>
                            <span class="tail">条评论</span>
                        </dd>
                    </dl>
                </li>
            <#}#>
        </ul>
    <#}#>
<#}#>