/* 担保通样式 */
.place-widget-guarantee {
  font-size: 1.07em;
  line-height: 150%;
  box-sizing: border-box;
  padding: 20px 25px;
}
.place-widget-guarantee p,
.place-widget-guarantee li {
  margin-bottom: 25px;
}
.place-widget-guarantee li .place-widget-guarantee-num,
.place-widget-guarantee .place-widget-guarantee-remark .place-widget-guarantee-remark-head {
  float: left;
}
.place-widget-guarantee li .place-widget-guarantee-item-content {
  margin-left: 17px;
}
.place-widget-guarantee .place-widget-guarantee-remark .place-widget-guarantee-remark-content {
  margin-left: 30px;
}
.place-widget-guarantee li .place-widget-guarantee-num {
  display: block;
  width: 17px;
}
.place-widget-guarantee .place-widget-guarantee-remark {
  color: #808080;
}
.place-widget-guarantee .place-widget-guarantee-remark .place-widget-guarantee-remark-head {
  white-space: nowrap;
  width: 30px;
  display: block;
}
