.third-widget-curcity {
  color: #434343;
  font-size: 15px;
  margin-left: 24px;
  margin-top: 63px;
}
.third-widget-curcity span.change {
  color: #4c90f9;
  margin-left: 9px;
}
.third-widget-curcity span.change-city {
  color: #4c90f9;
  font-size: 13px;
}
