/*团购、优惠信息样式*/
#place-pagelet-hotelextpre em {
  background: url("/static/place/images/place_b6c3cdf.png") no-repeat 0 -58px;
  background-size: 114px 60px;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 8px;
}
#detail-premium {
  display: -webkit-box;
  -webkit-box-pack: justify;
}
#detail-premium em {
  background-position: -59px 0;
}
#detail-premium .premium-text {
  -webkit-box-flex: 1;
  text-overflow: ellipsis;
  padding-right: 10px;
  color: #3B3B3B;
  font: 14px "微软雅黑", "宋体";
}
.hotel-gotoarr {
  background: url("/static/place/images/goto_0518661.png") #ffffff right center no-repeat;
  background-size: 7px 12px;
}
