.score-my {
  color: #525252;
  font-size: 16px;
  height: 51px;
  line-height: 51px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ececec;
}
span.score-num {
  color: #e40303;
}
.score-contain {
  height: 46px;
  border-bottom: 1px dashed #d3d3d3;
  position: relative;
}
.score-contain-left {
  position: absolute;
  left: 8px;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
  font-size: 14px;
  color: #3b3b3b;
}
.score-add {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 12px;
  color: #f20101;
}
.score-time {
  position: absolute;
  top: 23px;
  right: 8px;
  font-size: 12px;
}
.myscore_loadmore {
  display: block;
  height: 28px;
  line-height: 28px;
  margin: 17px 8px 17px 8px;
  text-align: center;
  border: #adadad solid 1px;
  border-radius: 0.25em;
  color: #444D62;
}
.hideline {
  border-bottom: 0px;
}
