/**
*@require place:static/css/detail.less
*/
/* --start-- 详情页促销widget样式（包括团购，优惠）-- */
.place-widget-promotionm {
  border: #e4e4e4 solid 1px;
  border-radius: 0.25em;
  background: #fff;
  overflow: hidden;
}
.place_preferential:empty {
  display: none;
}
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}
.place-widget-promotionm-noborder {
  border: none !important;
}
.place-widget-promotionm em {
  font-style: normal;
  display: inline-block;
  text-align: center;
}
.place-widget-promotionm .groupon_detail {
  /*min-width:120px;*/

  width: 70%;
  float: left;
}
.place-widget-promotionm .groupon_price {
  /*min-width:65px;*/

  width: 15%;
  float: right;
  margin: 0 8px 0 0;
}
.place-widget-promotionm .groupon_icon {
  /*min-width:40px;*/

  width: 10%;
  float: left;
  height: 100%;
}
.place-widget-promotionm-premium {
  height: 40px;
  line-height: 22px;
  padding-top: 0px;
  background: url('/static/place/images/goto_0518661.png') 98% center no-repeat;
  background-size: 7px 12px;
}
.place-widget-promotionm-premium > h3 {
  margin-right: 5%;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 40px;
}
.place-widget-promotionm-premium em {
  background: url('/static/place/images/place_b6c3cdf.png') no-repeat;
  background-size: 114px 60px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 4px;
  background-position: -59px 0;
  vertical-align: middle;
}
.place-widget-promotionm-groupon {
  line-height: 22px;
  padding: 14px 0 10px;
  border-bottom: solid 1px #ccced2;
}
.place-widget-promotionm-groupon ul {
  list-style: none;
}
.place-widget-promotionm-groupon ul li {
  margin-right: 10px;
}
.place-widget-promotionm ul li {
  color: #585858;
  margin-right: 10px;
}
.place-widget-promotionm .stitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.place-widget-promotionm .title {
  font-size: 12px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.place-widget-promotionm .price {
  color: #FE9601;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
}
.place-widget-promotionm .btn_buy {
  margin: 10px 0 0;
}
.place-widget-promotionm .btn_buy span {
  color: #fff;
  font-size: 16px;
  background: #5DABEC;
  border-radius: 3px;
  padding: 7px 11px;
  font-weight: normal;
}
.place-widget-promotionm-groupon em.poi_icon {
  background: url(/static/place/images/place_b6c3cdf.png) no-repeat;
  background-size: 114px 60px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 4px;
  background-position: -80px 0;
  vertical-align: top;
}
.place-widget-promotionm-groupon > img {
  border: 1px solid #a3a3a3;
  width: 96px;
  height: 72px;
}
.place-widget-promotionm-price {
  color: #ff9126;
  font-size: 16px;
  font-weight: bold;
}
.place-widget-promotionm-title {
  color: #585858;
  font-size: 12px;
  line-height: 20px;
}
.place-widget-promotionm-bought {
  color: #868686;
  font-size: 12px;
}
.place-widget-promotionm-count {
  float: right;
}
/* --end-- 详情页促销widget样式（包括团购，优惠）-- */