/*评论入口样式*/
.place-widget-commentbtn {
  background: -webkit-gradient(linear, 0 100%, 0 0, from(#eeeeee), to(#fdfdfd));
  border-radius: 0.25em;
  border: #838991 solid 1px;
  text-align: center;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  color: RGB(186, 93, 31);
  display: block;
  height: 39px;
  line-height: 39px;
}
.place-widget-commentbtn .combtn-icon {
  margin-right: 10px;
  text-align: center;
  background: url(/static/place/images/comment_53e6ac0.png) no-repeat 10px 8px;
  background-size: 18px 18px;
  display: inline-block;
  height: 39px;
  width: 28px;
}
.place-widget-commentbtn .combtn-text {
  vertical-align: 15px;
  display: inline-block;
}
