<div class="cover">
    <div id="cover-wrapper" class="cover-wrapper">
        <div id="cover-scroller" class="cover-scroller">
            <#for(var j = 0, len = imgs.length; j < len ; j++){#>
            <img class="cover-pic needsclick" width="69" height="84" data-id="<#=imgs[j].id#>" data-date="<#=imgs[j].day#>" src="http://map.baidu.com/maps/services/thumbnails?width=96&height=128&quality=100&src=<#=imgs[j].url#>" style="display:<#=imgs[j].visible#>" alt="<#=imgs[j].title#>">
            <#if(imgs[j].activity){#>
            <span class="activity_icon" style="display:<#=imgs[j].labelvis#>"></span>
            <#}else if(imgs[j].newm){#>
            <span class="new_icon" style="display:<#=imgs[j].labelvis#>"></span>
            <#}#>
            <#}#>
        </div>
    </div>
</div>
<p class="info-tip"><br>暂无当日排期...</p>
<div class="info <#if(!book){#>info-unbook<#}#>">
    <#if(book){#>
    <div class="list-opt">
        <button id="btnMovieBookMore" class="btn-more">查看更多影讯<i class="icon-arrow"></i></button>
        <button id="btnMovieBookClose" class="btn-close">收起<i class="icon-arrow"></i></button>
    </div>
    <#}#>
</div>
