<ul class="show-list <#if(schedules.length > 4){#>part<#}#>">
	<#for(var j = 0, len = schedules.length; j < len ; j++){#>
	<li class="show-item <#if(j == 0 && schedules[j].book && schedules[j].seatL){#>expand<#}#>">
		<div class="show-info">
			<span class="meta"><em class="time"><#=schedules[j].time#></em><#=schedules[j].type#></span>
			<span class="meta-extend">
				<i class="icon-price">&yen;</i><#=schedules[j].price#>起
				<#if(schedules[j].url){#>
					<a class="btn-exchange" href="<#=schedules[j].url#>">兑换码</a>
				<#}else{#>
					<i class="icon-arrow"></i>
				<#}#>
			</span>
		</div>
		<#if(schedules[j].seatL){#>
		<ul class="compare-list">
			<#for(var i = 0, leng = schedules[j].list.length; i < leng ; i++){#>
			<li>
				<span class="brand">
					<#=schedules[j].list[i].src_name#>
					<#if(schedules[j].list[i].activity_message && schedules[j].activity){#>
						<i class="icon-activity"></i>
					<#}else if(i == 0 && leng > 1){#><i class="icon-cheap"></i><#}#>
				</span>
				<#if(schedules[j].list[i].price){#><span class="price"><i class="icon-price">&yen;</i><#=schedules[j].list[i].price#></span><#}#>
				<span class="opt">
					<a class="btn-book <#=schedules[j].style#>" data-day="<#=schedules[j].day#>" data-num="<#=schedules[j].list[i].seq_no#>" data-cinema="<#=schedules[j].list[i].cinema_id#>" data-theater="<#=schedules[j].theater#>" data-time="<#=schedules[j].time#>" data-price="<#=schedules[j].list[i].price#>" data-movie="<#=schedules[j].list[i].movie_id#>" data-info="<#=schedules[j].info#>" data-orign="<#=schedules[j].list[i].src#>">选座订票</a>
				</span>
			</li>
			<#}#>
		</ul>
		<#}#>
	</li>
	<#}#>
</ul>
