<div class="moviebook-popup-wrapper">
	<div class="moviedes_popup">
		<div class="header">
			<#=name#><#if(parseInt(score)>0){#><span class="sco"> <#=score#></span><#}#>
			<a href="javascript:void(0);" id="des-btn-close" class="btn_close"> X </a>
		</div>
		<div class="content" style="text-align:left;">
			<style>
				table.des td{vertical-align: top;}
			</style>
			<table class="des">
				<tr>
					<td width="45"><span class="name">版本</span>:</td>
					<td><span><#=type || "暂无"#></span></td>
				</tr>
				<tr>
					<td><span class="name">片长</span>:</td>
					<td><span><#=duration || "暂无"#></span></td>
				</tr>
				<tr>
					<td><span class="name">上映</span>:</td>
					<td><span><#=release || "暂无"#></span></td>
				</tr>
				 <tr>
					<td><span class="name">地区</span>:</td>
					<td><span><#=nation || "暂无"#></span></td>
				</tr>
				<tr>
					<td><span class="name">导演</span>:</td>
					<td><span><#=director || "暂无"#></span></td>
				</tr>
				<tr>
					<td><span class="name">主演</span>: </td>
					<td><span><#=players || "暂无"#></span></td>
				</tr>
				<tr>
					<td colspan="2"><span class="name">简介</span>: <p style="padding:6px 0 0;"><#=des || "暂无"#></p></td>
				</tr>
			</table>
		</div>
	</div>
</div>

