<dl>
    <dt><em class="tit"><#=name#></em> <#if(parseInt(score)>0){#><em class="sco"> <#=score#></em><#}#><em data-id="<#=id#>" class="movieDes des">影片简介&gt;&gt;</em></dt>
    <dd>
        <#=times#>
    </dd>
</dl>
