<div class="moviebook-popup-wrapper">
	<div class="moviebook-popup">
		<div class="header">
			<#=title#>院线购票手机验证
			<a href="javascript:void(0);" id="valid-btn-close" class="btn-close"></a>
		</div>
		<div class="content">
			<p><label>手机号:&nbsp;</label><input id="valid-phone" autocomplete="false" type="tel"><span class="tip"></span></p>
			<p>
				<label>验证码:&nbsp;</label><input id="valid-number" autocomplete="false" type="text"><img src="">
				<span class="tip"></span>
			</p>	
			<p><button id="valid-btn-submit" class="submit-btn" type="button">提交</button></p>
		</div>
	</div>
</div>
