<#if (typeof order_id !== 'undefined') {#>
    <div class="orderinfo">
        <p>订单状态：<span data-node="statusDesc"><#=status_desc#></span></p>
        <p>订单号：<#=order_id#></p>
    </div>
    <div class="item shopinfo">
        <h4><#=shop_name#></h4>
        <p>
            <#=room#>
        <#if(typeof min_cost !== 'undefined' && min_cost) {#>
            最低消费：<#=min_cost#>元
        <#}#>
        </p>
        <p>入店时间：<#=order_time#></p>
        <p>最晚到店时间：<#=keep_time#></p>
        <p>地址：<#=address#></p>
    </div>
    <div class="item">
        <p class="userinfo">
            <span class="username">联系人信息：
                <#if(typeof gender !== 'undefined' && gender == '0') {#>
                    <#=user_name#>先生
                <#} else {#>
                    <#=user_name#>女士
                <#}#>
            </span>
            <span class="tel">电话：<#=mobile#></span>
        </p>
        <#if(Math.floor(status/100) > 2) {#>
            <div class="help">
                <p class="label">其他帮助</p>
                <div class="info">
                    <p class="help-tel">
                        <span>百度客服电话：</span>
                        <a href="tel:(400-0998-998)">
                            <b class="tel-icon-b"></b>
                            400-0998-998
                        </a>
                    </p>
                </div>
            </div>
        <#}#>
    </div>
    <#if(can_cancel == '1') {#>
        <div class="cancel">
            <div class="btn" data-action="cancelOrder">取消订单</div>
        </div>
    <#}#>
<#} else {#>
    <div class="error">订单错误</div>
<#}#>