.crl_dis{
    float:right;
    color:#95979A;
    text-align:right;
}
.crl_ar{
    color:#333;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    text-align: center;
    margin: 0px auto;
}