#taxi-pagelet-vip-home {
  width: 100%;
  background: url(/static/taxi/widget/home/images/bg_7ad6f23.png) no-repeat center bottom;
  background-size: contain;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.taxi-widget-vip-home {
  overflow: hidden;
  height: auto;
  position: relative;
  /* 输入面板样式 */

}
.taxi-widget-vip-home .home {
  overflow: hidden;
}
.taxi-widget-vip-home .taxi-widget-addprice {
  margin-bottom: 20px;
}
.taxi-widget-vip-home .button-bar {
  position: relative;
}
.taxi-widget-vip-home form {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 22px;
  padding-bottom: 20px;
}
.taxi-widget-vip-home .logo {
  position: relative;
  margin: 17px auto 35px;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  padding-left: 45px;
}
.taxi-widget-vip-home .baidu-taxi {
  font-size: 18px;
  color: #666;
}
.taxi-widget-vip-home .slogan {
  font-size: 14px;
  color: #999;
}
.taxi-widget-vip-home .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: url(/static/taxi/widget/home/images/bg-logo_ca9abcd.png) no-repeat 0 0;
  background-size: 40px 40px;
}
.taxi-widget-vip-home .btn-orderlist {
  position: absolute;
  border-left: 1px solid #c4c4c4;
  width: 55px;
  height: 36px;
  right: 15px;
  top: 20px;
  font-size: 16px;
  background: transparent;
}
.taxi-widget-vip-home .btn-register {
  position: absolute;
  border-right: 1px solid #c4c4c4;
  width: 55px;
  height: 36px;
  left: 15px;
  top: 20px;
  font-size: 16px;
  background: transparent;
}
.taxi-widget-vip-home .result {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 15px;
  white-space: nowrap;
  text-align: center;
}
.taxi-widget-vip-home .result .text:first-child {
  padding-left: 20px;
  background: url(/static/taxi/images/icon-car_f701f6b.png) no-repeat left center;
  background-size: 15px 15px;
}
.taxi-widget-vip-home .input-wrapper {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 8px;
  height: 40px;
}
.taxi-widget-vip-home .home .input-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9;
}
.taxi-widget-vip-home .poi-input {
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 10px 10px 10px 35px;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.taxi-widget-vip-home .field {
  margin-bottom: 20px;
  height: 34px;
}
.taxi-widget-vip-home .client-info .title {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}
.taxi-widget-vip-home .client-info label {
  color: #a3a3a3;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.taxi-widget-vip-home .client-phone {
  float: right;
  box-sizing: border-box;
  width: 200px;
  height: 34px;
  line-height: 16px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid #999;
  padding: 9px 10px;
}
.taxi-widget-vip-home .input-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
  background: url(/static/taxi/widget/home/images/bg-input-icon_4d19c14.png) no-repeat 0 0;
  background-size: 20px 40px;
}
.taxi-widget-vip-home .end .input-icon {
  background-position-y: -20px;
}
.taxi-widget-vip-home .nearby-car-info {
  text-align: center;
  font-size: 14px;
  color: #a3a3a3;
  margin-bottom: 40px;
}
.taxi-widget-vip-home .nearby-car-info .result {
  display: none;
}
.taxi-widget-vip-home .nearby-car-info.loaded .loading {
  display: none;
}
.taxi-widget-vip-home .nearby-car-info.loaded .result {
  display: block;
}
.taxi-widget-vip-home .nearby-car-info .count {
  font-size: 21px;
  color: #3399fe;
}
.taxi-widget-vip-home .btn-submit {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 18px;
  color: white;
  background: url(/static/taxi/widget/home/images/bg-btn-submit_e8261b7.png) no-repeat 0 0;
  background-size: cover;
  padding: 0px;
  border: none;
  margin: 0 auto;
}
.taxi-widget-vip-home .input-panel {
  position: relative;
  box-sizing: border-box;
  padding: 60px 8px 0px 8px;
  height: 100%;
}
.taxi-widget-vip-home .input-panel .input-wrapper {
  height: 35px;
  margin: 7px 0px;
}
.taxi-widget-vip-home .input-panel .input-icon {
  width: 15px;
  height: 15px;
  background-size: 15px 30px;
}
.taxi-widget-vip-home .input-panel .poi-input {
  height: 100%;
  line-height: 15px;
}
.taxi-widget-vip-home .input-panel .btn-confirm {
  position: absolute;
  right: 8px;
  top: 7px;
  background: url(/static/taxi/widget/home/images/bg-btn-confirm_b085b28.png) no-repeat center center;
  background-size: 55px 35px;
  color: white;
  font-size: 14px;
  width: 55px;
  height: 35px;
}
.taxi-widget-vip-home .input-panel .top-bar {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 0px 70px 0px 60px;
  background: white;
}
.taxi-widget-vip-home .input-panel .btn-back-to-form {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  background: url(/static/taxi/images/bg-btn-back_cc27fec.png) no-repeat center center;
  background-size: 16px 16px;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
.taxi-widget-vip-home .input-panel .ui-suggestion {
  position: relative !important;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-y: auto;
  display: none;
}
.taxi-widget-vip-home .input-panel .ui-suggestion-content {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 0px 1px;
  border-radius: 3px 3px 0px 0px;
  background: white;
  padding: 0px 12px;
}
.taxi-widget-vip-home .input-panel .ui-suggestion-button {
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 3px 3px;
  background: white;
  padding: 0px 12px;
  height: 50px;
  line-height: 50px;
  color: #ccc;
}
.taxi-widget-vip-home .input-panel .ui-suggestion-button span {
  float: left;
}
.taxi-widget-vip-home .input-panel .ui-suggestion-button span:last-child {
  float: right;
}
.taxi-widget-vip-home .input-panel .ui-suggestion-result {
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  border-bottom: 1px solid #ccc;
}
.taxi-widget-vip-home .input-panel .ui-suggestion-result span:last-child {
  color: #ccc;
  font-size: 12px;
}
.taxi-widget-vip-home .input-panel[data-type=route_end] .input-icon {
  background-position-y: -15px;
}
.taxi-widget-dialog .content {
  padding-bottom: 10px;
}
.taxi-widget-dialog .content label {
  color: #999;
  font-size: 12px;
}
.taxi-widget-dialog .content .text {
  margin-bottom: 10px;
}
