#place-widget-catersearchorder {
  margin: 16px 13px 0 13px;
}
#place-widget-catersearchorder .input-group {
  display: -webkit-box;
  margin-bottom: 10px;
}
#place-widget-catersearchorder label {
  width: 53px;
  height: 32px;
  line-height: 32px;
  display: -webkit-box;
}
#place-widget-catersearchorder .input {
  border: 1px solid #bfbfc0;
  border-radius: 3px;
  -webkit-box-flex: 1;
  display: -webkit-box;
  padding: 5px;
  background-color: #ffffff;
}
#place-widget-catersearchorder .input input {
  display: block;
  width: 100%;
  outline: none;
  height: 20px;
  line-height: 20px;
  border: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
#place-widget-catersearchorder .submit {
  cursor: pointer;
  height: 38px;
  border: 1px solid #fea340;
  background-color: #ff9e35;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
}
#place-widget-catersearchorder .vcode-btn {
  border-radius: 3px;
  margin-left: 5px;
  width: 104px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #3467a5;
  border: 1px solid #acc5e5;
  background-color: #e3ecf7;
}
#place-widget-catersearchorder .disabled {
  background-color: #DFDCDC;
  border: 1px solid #bfbfc0;
  color: #909090;
}
