.index-widget-nearbytip .tip {
  color: #E43614;
  display: -webkit-box;
  background-color: #FFF8C8;
  -webkit-box-align: center;
  -webkit-box-sizing: border-box;
  -webkit-background-clip: padding;
  position: absolute;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #B5ADAD;
  border-radius: 2px;
  padding: 2px 5px;
  -webkit-user-select: none;
  line-height: 12px;
  margin-left: -15px;
  left: 33%;
  top: 10px;
  z-index: 1;
}
.index-widget-nearbytip .tip-text {
  max-width: 73px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-widget-nearbytip .corner {
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 8px;
  height: 6px;
  margin: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMBAMAAACZySCyAAAALVBMVEUAAAC1ra21ra21ra21ra21ra21ra3/+Mi1ra3QyLf79Mbp4sC9tbC7s6+/t7CDMZ5bAAAAB3RSTlMAthhaZiH4HnTx6gAAAENJREFUCNdjmFUOAQx926EMj87lEAarxGkIg4GlYxaEwaDYsx3CYLAAKgMzmCRuQxgMzEBlDGCg2LudAQLMOoEERBkAu+0cz6jjT40AAAAASUVORK5CYII=) 0 0 no-repeat;
  background-size: contain;
}
