<#if(data && data.area && data.area.length > 0){#>
    <h2>热门商区</h2>
    <ul class="clearfix biz-list">
            <#for(var i = 0, l = data.area.length; i < l; i++){ var item = data.area[i]; #>
                <li>
                    <a href="/mobile/webapp/index/casuallook/foo=bar/from=business&bd=<#:=item#>&code=<#:=data.code#>" jsaction="jump" user-data="item"><#:=item#></a>
                </li>
            <#}#>
    </ul>
<#}#>