/*调起导航*/
.navokbox {
  display: block;
  width: 274px;
  height: 126px;
  border: 2px solid #4A4A4A;
  background: #4A4A4A;
  opacity: 0.95;
  background-color: #4A4A4A;
  -webkit-border-radius: 5px;
}
.navokbox .t {
  height: 16px;
  background-color: #4A4A4A;
}
.navokbox .c {
  height: 100%;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.navokbox .t1 {
  font-size: 17px;
  text-align: left;
  color: #FFF;
  margin-top: 5px;
  margin-left: 16px;
  margin-right: 7px;
  margin-bottom: 3px;
}
.navokbox .bt {
  width: 128px;
  height: 37px;
  margin-top: 9px;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  /*font-size: 18px;*/

  font-size: 16px;
  color: #fff;
  border: 0px;
}
.navokbox .qx {
  float: left;
  margin-left: 18px;
  border-top: 1px solid #68B3DE;
  background-color: #68B3DE;
}
.navokbox .qd {
  float: right;
  margin-right: 6px;
  border-top: 1px solid #68B3DE;
  background-color: #68B3DE;
}
.navokbox a {
  text-decoration: none;
}
