<!-- 子集列表 -->
<li class="sub_list">
	<ul class="sub_wrapper">
		<li data-areacode = "<#:=area_code#>" jsaction="complete">
			<h4>全区</h4>
			<span class="rl_opt">
				<em class="rl_opt_btn rl_opt_close"></em>
			</span>               
		</li>
		<#for(var i = 0, l = sub.length; i < l; i++){ #>
		<li data-areacode = "<#:=sub[i]['area_code']#>" jsaction="complete">
			<h4><#:=sub[i]['area_name']#></h4>
			<span class="rl_opt">
				<em class="rl_opt_btn rl_opt_close"></em>
			</span>               
		</li>
		<#}#>
	</ul>
</li>