<li data-oid="<#=order_id#>" data-href="<#=order_url#>">
    <div class="item">
        <h4> <#=shop_name#> </h4>
        <span class="room right"><#=room#></span>
    </div>
    <div class="person">
        就餐人数：<#=person_num#>位
    </div>
    <div class="item">
        <span>预约入店时间：<#=order_time#></span>
        <span class="right"><#=status_desc#></span>
    </div>
    <em class="list-arrow"></em>
</li>