<#if(data && data.length > 0){#>
    <div class="hd">
        <a href="javascript:void(0);" jsaction="hotel-all" userdata="{'wd':'<#:=word#>','id':'<#:=id#>'}">
            查看全部
        </a>
        <h2>酒店</h2>
    </div>
    <ul class="list">
        <# for(var i = 0, l = data.length; i < l; i++){ #>
            <# var item = data[i]; #>
            <li jsaction="hotel-detail" userdata="{'uid':'<#:=item.uid#>','id':'<#:=id#>'}">
                <div class="clearfix">
                    <a class="a-img" href="javascript:void(0);">
                        <img width="89" height="66" src="<#:=item.image#>">
                        <#:=item.otherflag#>
                    </a>
                    <dl>
                        <dt class="name"><#:=item.name#></dt>
                        <dd class="addr">地址：<#:=item.addr#></dd>
                        <dd class="cmt">
                            <span class="rate"><#:=item.star#></span>
                            <span class="price">
                                <span class="tail">人均：</span>
                                <span class="count">￥<#:=item.price#></span>
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="bar clearfix">
                        <#if(!item.tel.num){#>
                            <div class="btn tel" style="visibility:hidden">
                                <a class="a-tel" href="/">
                                    <b class="icon tel"></b>000-00000000
                                </a>
                            </div>      
                        <#} else {#>
                            <div class="btn tel">
                                <a class="a-tel" <#:=item.tel.url#>>
                                    <b class="icon tel"></b><#:=item.tel.num#>
                                </a>
                            </div>    
                        <#}#>
                    <#if(item.order){#>
                        <div class="btn order"><a href="javascript:void(0);" jsaction="hotel-detail" userdata="{'uid':'<#:=item.uid#>'}">预订</a></div>
                    <#}#>
                </div>
            </li>
        <#}#>
    </ul>
<#}#>