/* 结果列表页 result list */
 .place-widget-placelist{
    color:#3b3b3b;
    font-size:1em;
    background-color:#F2F2F2;
}
.mkr-icon{
  position: absolute;
  top: 10px;
  left: 10px;
}
h4,  p{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.text-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.price-orange{
  color: #F43F00;
  margin-right: 3px;
  font-weight: bold;
}
.price-grey{
  color:#5e5e5e;
  font-weight:bold;
}
.mg-mrapper{
  width: 108px;
  display: inline-block;
  vertical-align: bottom;
}

.place-widget-placelist{
    padding: 8px;
    .acc-list .acc-item{
      display: none;
    }
    li{
      white-space: nowrap;
      min-height: 45px;
      background-color: #FFF;
      border-radius: 3px;
      border: 1px solid #E4E4E4;
      position: relative;
      font-family: "微软雅黑","宋体";
      margin-bottom: 10px;
    }
    li.active{
        background-color: #f4f4f4;
    }
    .list-wrapper{
      padding: .9em 1.8em 0 2.5em;
      position: relative;
      overflow: hidden;

      .list-tip-gwj{
        background-color: #ffbb39;
        position: relative;
        float: left;
        height: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        padding: 0 10px 0 5px;
        font-size: 14px;
        color: white;
        overflow: visible;
      }
      .list-tip-gwj:before{
          content: '';
          position: absolute;
          top: 0;
          right: -10px;
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-left: 10px solid #ffbb39;
          border-bottom: 12px solid transparent;
      }
    }
    .icon-groupon{
      background:url('/static/images/tuan_icon.png') 0 0 no-repeat;
    }
    .icon-book{
      background:url('/static/images/list_book.png') 0 0 no-repeat;
    }
    .icon-premium{
      background:url('/static/images/list_sale_icon.png') 0 0 no-repeat;
    }
    .icon-gasstation{
      background:url('/static/images/gas_icon.png') 0 0 no-repeat;
    }
    .icon-movieseat{
      background:url('/static/images/list_seat_icon.png') 0 0 no-repeat;
    }
    .list-icon{
      width:16px;
      height:16px;
      background-size:16px 16px;
      margin-left:1px;
      display: inline-block;
      vertical-align: middle;
    }
    .icon-streetscape{
      background:url('/static/images/place_streetscape_icon.png') 0 0 no-repeat;
      background-size:15px 20px;
      width: 15px;
      height: 20px;
    }
    .list-tit{
      color: #3B3B3B;
      font-weight: normal;
      font-size: 16px;
      max-width: 56%;
      display: inline-block;
      vertical-align: middle;
    }
    .tit-len0{
      max-width: 80%;
    }
    .tit-len1{
      max-width: 74%;
    }
    .tit-len2{
      max-width: 63%;
    }
    .tit-len3{
      max-width: 54%;
    }
    .list-addr{
      color: #5E5E5E;
      font-size: 12px;
      margin-top: 5px;
      margin-top: 2px;
    }
    .addr{
      font-size: 12px;
      color: #5E5E5E;
      margin-bottom: 8px;
    }
    .list-star{
      margin-top: 5px;
      font-size: 12px;
    }
    .star-wrapper{
      display:inline-block;
      height: 15px;
      width:75px;
      background:url(/static/images/star.png) repeat-x 0 0;
      background-size:15px 33px;
      font-size:14px;
      vertical-align:middle;
      .star-active{
        display: inline-block;
        height: 16px;
        background: url(http://s1.map.bdimg.com/mobile/static/place/ui/images/new_star_50c47efa.png) repeat-x 0 -19px;
        background-size: 15px 33px;
      }
      .star-comment{
        display:inline-block;
        height: 15px;
        background:url(/static/images/star.png) repeat-x 0 -19px;
        background-size: 15px 33px;
      }
    }
    .list-price{
      font-size: 12px;
      margin-top: 5px;
    }
    .list-aoi{
      margin-right: 1.2em;
    }
    .list-btns{
      overflow: hidden;
      background-color: #F9F9F9;
      border-top: 1px solid #DADADA;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      margin-top: 12px;
      color: #333;
      font: 13px bold "微软雅黑","宋体";
      text-align: center;
      font-size: 13px;
      -webkit-box-pack: center;
      -webkit-box-align: center;

      a{
        display: block;
        color: #3B3B3B;
      }
      .btn-inner{
        display: block;
        border-right: 1px solid #DADADA;
        font-family: "微软雅黑","宋体";
      }
      a:last-child .btn-inner{
        border-right: none;
      }

      .btn-getline{
        -webkit-box-flex: 1;
        padding: 8px 0;
      }
      .btn-tel{
        -webkit-box-flex: 2;
        display: block;
        text-decoration: none;
        font-size: 1.143em;
        padding: 8px 0;
        text-align: center;
        display: block;

        .btn-tel-icon{
          display:inline-block;
          height:16px;
          width:16px;
          background: url(/static/images/tel_icon3.png) 0 0 no-repeat;
          background-size:16px 16px;
          margin-right: 3px;
          vertical-align: bottom;
        }
      }
      .btn-book{
        color: #333;
        -webkit-box-flex: 1;
        padding: 8px 0;
      }
    }
    .list-dis{
      position:absolute;
      height:1.32em;
      right:16px;
      top:22px;
      margin-top:-0.714em;
      padding-right:8px;
      text-align:right;
      font-size:14px;
      color:#3b3b3b;
    }
    .list-arrow{
      position: absolute;
      background: url(/static/images/areo.png) no-repeat 0 0;
      background-size: 7px 12px;
      height: 12px;
      width: 7px;
      top: 50%;
      right: 1em;
    }

    .list-actbook, .list-acttuan{
      background: #fdfdf2;
      color: #d70909;
      font-size: 12px;
      margin: 8px 12px 0 12px;
      padding: 3px 12px;
      border: 1px solid #f3f0c6;
      border-radius: 3px;
      text-align: center;
    }
    .list-actbook{
      text-align: center;
      margin: 8px 34px 0 34px
    }

    .list-pagenav{
      padding: 12px;
      text-align: center;
      .page-btn{
        display: inline-block;
        height:27px;
        line-height: 27px;
        padding:0 11px;
        border: 1px solid #CACACA;
        margin: 0 6px;
        color: #000;
        font-size:13px;
        background-color:#fff;
      }
      .unclick{
        color: #CCC;
        border: 1px solid #CACACA;
      }
    }

    /*强展现样式*/
    .showall-txt {
      height:40px;
      line-height:40px;
      padding-top:10;
      text-align:center;
      font-size:1.07em;
    }
    .showall-icon {
      display:inline-block;
      width:13px;
      height:10px;
      margin-left:3px;
      background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUCAMAAABPqWaPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6 eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEz NDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNl SUQ9InhtcC5paWQ6N0I1NjAyRDU2NUZBMTFFMjlENzVDNDNEQUFGMzlDRjciIHhtcE1NOkRvY3Vt ZW50SUQ9InhtcC5kaWQ6N0I1NjAyRDY2NUZBMTFFMjlENzVDNDNEQUFGMzlDRjciPiA8eG1wTU06 RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3QjU2MDJEMzY1RkExMUUyOUQ3 NUM0M0RBQUYzOUNGNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3QjU2MDJENDY1RkExMUUy OUQ3NUM0M0RBQUYzOUNGNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w bWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmLHh3gAAADJUExUReDg4OXl5aSkpJqamvPz8/Hx8ba2 tuLi4pubm5iYmJaWlrGxsYmJibOzs/T09N/f38zMzO/v7/Dw8IqKit3d3YuLi6mpqa+vr8vLy8fH x66uru3t7Z+fn6ysrKKiotra2tvb29XV1cTExKenp46OjsHBwfLy8srKyqqqqqampo+Pj7KystTU 1NHR0bm5uZKSkp2dnenp6dnZ2c3Nze7u7sXFxdPT09DQ0NbW1p6ensPDw+jo6JWVlYKCgoSEhPj4 +Pb29oODg/f39zhq1WAAAAEOSURBVHjaXFGHdoQwDAsc+/bsXdd1771XnNj//1G1nea1NDwCSNiW IkPk6f9yApkWwpdsXihD/uQx0orwuj6YCOMuwZ4Pfyi5XxoLm8pUiAjpULsRPVRo0R46mbO0IB/v +1xidvkV8CvxModMzVWM1M8LfgBikUdtbnkrHP/MMN6VjlSbNKfB6gjDmo9UidcalZodT4Xo59G4 8eS2PtX1+KbXkbHkywGptr0e7JTq5kmdritscu12Jl3SmQ8TTYpg4VVPp2AzzG1fcVWyYHUAaFR1 VlwEzZ1RV/xY7JxGP9nHVJwIyHvzFtoGieM+YDiI+SoOjMklG8JBd8LpELWTY66e/UbcyvT+b/Df AgwAZ+9tuVz1ufUAAAAASUVORK5CYII=") 0 0 no-repeat;
      background-size: 13px 10px;
    }
 }
