#place-widget-caterorderdetail {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}
#place-widget-caterorderdetail .tel-icon-b {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(/static/place/images/tel_icon3_3c06f6b.png) 0 0 no-repeat;
  background-size: 16px 16px;
  margin-top: -2px;
  vertical-align: middle;
}
#place-widget-caterorderdetail .item {
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid #e4e4e4;
  padding: 12px;
}
#place-widget-caterorderdetail .orderinfo {
  padding: 12px;
  font-size: 15px;
  line-height: 26px;
}
#place-widget-caterorderdetail .shopinfo {
  font-size: 13px;
  color: #999999;
}
#place-widget-caterorderdetail .shopinfo h4 {
  color: #333333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
}
#place-widget-caterorderdetail .username {
  display: inline-block;
  margin-bottom: 5px;
  min-width: 50%;
}
#place-widget-caterorderdetail .tel {
  display: inline-block;
  margin-bottom: 5px;
}
#place-widget-caterorderdetail .help .label {
  margin-bottom: 5px;
}
#place-widget-caterorderdetail .help .info {
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  font-size: 13px;
  padding: 5px;
}
#place-widget-caterorderdetail .help .help-tel {
  position: relative;
}
#place-widget-caterorderdetail .help .help-tel a {
  position: absolute;
  right: 22px;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "微软雅黑", "宋体";
}
#place-widget-caterorderdetail .cancel {
  padding: 12px;
}
#place-widget-caterorderdetail .cancel .btn {
  cursor: pointer;
  height: 38px;
  border: 1px solid #fea340;
  background-color: #ff9e35;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
}
#place-widget-caterorderdetail .error {
  color: #999999;
  margin-top: 12px;
  text-align: center;
}
