.place-widget-moviedetail section {
  margin: 0 8px;
}
.place-widget-moviedetail .mdetail {
  position: relative;
  min-height: 95px;
  margin: 15px 10px 10px 10px;
}
.place-widget-moviedetail .list-info {
  margin-top: 2px;
  position: relative;
}
.place-widget-moviedetail .list-info li {
  white-space: nowrap;
  min-height: 45px;
  padding: 0 60px 11px 42px;
  margin: 0 0 8px;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.place-widget-moviedetail .list-info li h4 {
  padding-top: 9px;
  font-size: 16px;
  color: #3b3b3b;
}
.place-widget-moviedetail .list-info li strong.rl_li_title {
  color: #3b3b3b;
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 1.07em;
  height: 24px;
}
.place-widget-moviedetail .list-info li h4 em.place_groupon_icon {
  width: 16px;
  height: 16px;
  background: url(/static/place/images/tuan_icon_1bc0a17.png) left bottom no-repeat;
  background-size: 16px 16px;
  margin-left: 1px;
}
.place-widget-moviedetail .list-info li h4 em.place_seat_icon {
  background: url(/static/place/images/list_seat_icon_3df3b93.png) left bottom no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  margin-left: 0px;
}
.place-widget-moviedetail .list-info li p {
  white-space: nowrap;
  color: #5e5e5e;
  font-size: 12px;
}
.place-widget-moviedetail .list-info li .opt-icon {
  position: absolute;
  height: 1.32em;
  right: 18px;
  top: 54%;
  margin-top: -0.714em;
  padding-right: 1.43em;
  text-align: right;
}
.place-widget-moviedetail .list-info li .dis {
  position: absolute;
  height: 1.32em;
  right: 24px;
  top: 22px;
  margin-top: -0.714em;
  padding-right: 8px;
  text-align: right;
  font-size: 14px;
  color: #3b3b3b;
}
.place-widget-moviedetail .list-info li .rl_go_dtl {
  position: absolute;
  background: url(/static/place/images/areo_54281fb.png) no-repeat 0 0;
  background-size: 7px 12px;
  height: 12px;
  width: 7px;
  top: 2px;
  right: 0;
}
.place-widget-moviedetail .list-info li .mkr-icon {
  position: absolute;
  top: 10px;
  left: 12px;
}
.place-widget-moviedetail .poster {
  width: 90px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.place-widget-moviedetail .list {
  padding: 0px 0px 10px 95px;
  min-height: 110px;
}
.place-widget-moviedetail .list dt {
  margin-bottom: 5px;
}
.place-widget-moviedetail .list dd {
  font-size: 12px;
}
.place-widget-moviedetail .list .int_content {
  font-size: 12px;
}
.place-widget-moviedetail .list .movie_title {
  font-size: 14px;
  color: #383838;
  line-height: 20px;
  font-weight: bold;
}
.place-widget-moviedetail .movie_num {
  color: #fa6a00;
  font-size: 14px;
}
.place-widget-moviedetail .over {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.place-widget-moviedetail .hide {
  display: none;
}
.place-widget-moviedetail .vhide {
  visibility: hidden;
}
.place-widget-moviedetail .txt_red {
  color: #ff0101;
}
.place-widget-moviedetail .txt_gray {
  color: #7d7d7d;
}
.place-widget-moviedetail .introduction {
  border-bottom: 1px solid #c3c3c3;
  margin: 10px 0px 20px 0px;
  height: 20px;
  line-height: 20px;
  position: relative;
}
.place-widget-moviedetail .introduction span {
  position: absolute;
  left: 50%;
  margin-left: -2em;
  top: 11px;
  background-color: #f2f2f2;
  padding: 0px 5px;
  font-size: 14px;
  font-weight: bold;
}
.place-widget-moviedetail .more {
  text-align: center;
  margin: 5px 0px 0px 0px;
}
.place-widget-moviedetail .more img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 7px;
  height: 11px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
.place-widget-moviedetail .more img.active {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.place-widget-moviedetail .pagenav {
  padding: 12px;
  text-align: center;
}
.place-widget-moviedetail .pagenav .page-btn {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  padding: 0 11px;
  border: 1px solid #CACACA;
  margin: 0 6px;
  color: #000;
  font-size: 13px;
  background-color: #fff;
}
.place-widget-moviedetail .pagenav .unclick {
  color: #CCC;
  border: 1px solid #CACACA;
}
